@import 'common';

*{
    margin: 0;
    box-sizing: border-box;
}

button{
     background-color: $accent-color;
     color: white;
     border-radius: 30px;
     border: none;
     padding: 14px 25px 14px 25px;
     text-decoration: none;
     display: inline-block;
     height: 55px;
     width: 174px;
     align-items: center;
}

input{
    background-color: #EDFCF4;
    color: $main-color;
    border-radius: 30px;
    border: none;
    height: 55px;
    width: 427px;
}
input[type=text]{
    padding-left: 24px;
    font-size: 15px;
}

.dish-card{
    width: 300px;
    height: 360px;
    .dish-name{
        color: $main-color;
    }
    .dish-price-star{
        display: flex;
        justify-content: space-between;
    }
}

.product-price{
    margin: 330px;
    .header{
        color: $main-color;
        text-align: center;
        font-size: 34px;
    }
    .dishes-menu{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }
    .button{
        display: flex;
        justify-content: center;    
        .dish-button{
            display: grid;
            grid-template-columns: 7fr 1fr;
            gap: 30px;
        }
    }
}

.subscribe{
    margin: 330px;
    display: flex;
    justify-content: space-between;
    .left{
        p{
            color: $main-color;
            font-size: 28px;
            font-weight: bolder;
            text-align: center;
        }
    }
    .right{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        input[type=checkbox]{
            width: 13px;
            height: 13px;
            border-color: #B6B6B6;
        }
        .agree-check{
            color: #B6B6B6;
        }
    }
    
}
