@import 'common';

*{
    margin: 0;
    box-sizing: border-box;
}

button{
     background-color: $accent-color;
     color: white;
     border-radius: 30px;
     border: none;
     padding: 14px 25px 14px 25px;
     text-decoration: none;
     display: inline-block;
     height: 55px;
     width: 174px;
}

.dish-card{
    width: 300px;
    height: 360px;
    .dish-name{
        color: $main-color;
    }
    .dish-price-star{
        display: flex;
        justify-content: space-between;
    }
}

.product-price{
    margin: 330px;
    .header{
        color: $main-color;
        text-align: center;
    }
    .dishes-menu{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;
    }
    .button{
        display: flex;
        justify-content: center;
    }
}